<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>schedule</title>
    <link rel="shortcut icon" href="#" />
    <link rel='stylesheet'type='text/css'href='/stylesheets/operation/schedule.css'>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.cssntegrity="integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="topnav">
    <img src="images/台罐.png"/>
    <a href="/">Home</a>
    <a href="/order">Order</a>
    <a href="/schedule">Schedule</a>
    <a href="/product">Product</a>
    <a href="/material">Material</a>
    <a href="productstock">Product Stock</a>
    <a href="/materialstock">Material Stock</a>
</div>
<form id="search-product" action="" method="post">
    <p>
         <label for ="productid" class="floatlabel">產品代號</label>
         <input id="productid" name="productid" type="text" required>
         <input type ="submit" value="搜尋" id="search_productid">
    </p>
</form>
<h1>本月進度</h1>
<div class="text_box">
    <dl>
        <dd class="text-box-title">
            |產品代號:
        </dd>
        <dd class="text-box-content">
            |#{productid}
        </dd>
        <dd class="text-box-title">
            |總訂購量：
        </dd>
        <dd class="text-box-content">
            |#{totalamount}
        </dd>
        <dd class="text-box-title">
            |第一週:
        </dd>
        <dd class="text-box-content">
            |#{produceamount}
        </dd>
        <dd class="text-box-title">
            |第二週:
        </dd>
        <dd class="text-box-conetnent">
            |#{produceamount}
        </dd>
        <dd class="text-box-title">
            |第三週:
        </dd>
        <dd class="text-box-content">
            |#{produceamount}
        </dd>
        <dd class="text-box-title">
            |第四週:
        </dd>
        <dd class="text-box-content">
            |#{produceamount}
        </dd>
    </dl>
</div>
</body>
</html>